.header {
  background-color: rgb(233, 232, 232);
  color: rgb(226, 62, 62);
  padding: 10px;
}

.body {
  padding: 20px 0 0 20px;
}

.tableWrapper {
  width: 50%;
}

.tableWrapper p {
  font-size: 15px;
  line-height: 3;
}

.tableWrapper Table {
  padding: 0px;
  background-color: rgb(235, 235, 235);
  font-size: 15px;
}

.result {
  display: flex;
}

.figure {
  margin: 0 30px;
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 90px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerLogo{
  font-size: 25px;
  float: left;
}

.footerContent {
  font-size: 20px;
  float: right;

}

.footerContent ul{
  list-style-type: none;
}
