.header {
  background-color: #26d0c9;
  color: white;
  padding: 10px;
}

.header h1{
  color: white
}

.body {
  padding: 20px 0 0 20px;
}

.body button{
  margin-right: 50px;
}

.tableWrapper {
  width: 50%;
}

.tableWrapper p {
  font-size: 15px;
  line-height: 3;
}

.tableWrapper Table {
  padding: 0px;
  background-color: rgb(235, 235, 235);
  font-size: 15px;
}

.result {
  display: flex;
}

.figure {
  margin: 0 30px;

}

.anime h1{
  margin-top: 20px;
}

.modal1 p{
  font-size: 3px;
}

.anime{
  position: absolute;
  padding-left: 240px;
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 90px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerLogo{
  font-size: 25px;
  float: left;
}

.footerContent {
  font-size: 20px;
  float: right;

}

.footerContent ul{
  list-style-type: none;
}

.info{
  margin-left: 10px;
}
