.header {
  background-color: rgb(233, 232, 232);
  color: rgb(226, 62, 62);
  padding: 10px;
}

.body {
  padding-top: 20px;
}

.tableWrapper {
  width: 50%;
  padding-left: 10px;
}

.tableWrapper p{
  font-size: 15px
}
